.mb {

    &__xs {
        margin-block-end: .5rem !important;
        -webkit-margin-after: .5rem !important;
    }

    &__s {
        margin-block-end: 1rem !important;
        -webkit-margin-after: 1.5rem !important;
    }
    
}

