$color-black: #000;
$color-white: #fff;
$color-light-grey: #eee;
$color-dark-grey: #363636;
$color-sony-blue: #00439c;


$X-large-screen: 192rem;
$Large-screen: 102.4rem;
$Mid-screen: 76.8rem;
$Macbook-screen: 144rem;
