<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link href="http://fonts.cdnfonts.com/css/sst" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <title>PlayStation&#174;5 | Play Has No Limits | PlayStation</title>
  </head>
  <body>
    <div class="nav">
      <nav class="nav_bar">
        <a href="#" class="nav_logo-box">
          <img src="./img/logo.png" alt="" />
        </a>
        <div class="nav_list-box">
          <ul class="nav_list">
            <li class="nav_item">
              <a href="./index.html" class="nav_item--link-selected"
                >PlayStation&#174;5</a
              >
            </li>
            <li class="nav_item">
              <a href="/game.html" class="nav_item--link">遊戲</a>
            </li>
            <li class="nav_item">
              <a href="#" class="nav_item--link">周邊設備</a>
            </li>
            <li class="nav_item">
              <a href="#" class="nav_item--link">更多功能</a>
            </li>
            <li class="nav_item">
              <a href="#" class="nav_item--link">娛樂</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <main>
      <section class="highlight">
        <div class="content-grid">
          <div class="grid-layout__1">
            <div class="box">
              <div class="title-secondary">
                <h1><%= title %></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="content-grid">
          <div class="grid-layout__1">
            <div class="box">
              <div class="video-block">
                <iframe
                  width="560"
                  height="315"
                  src="<%= data[0].url %>"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="content-grid grid-layout__4">
          <% for(let i=1; i<data.length; i++) { %>
            <div class="box">
              <div class="video-block">
                <iframe
                  src="<%= data[i].url %>"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          <% } %>


        </div>
        <div class="content-grid">
          <div class="grid-layout__1">
            <div class="box">
              <div class="paragraph__secondary">
                <p>
                  超高速 SSD，實現疾如閃電的載入速度；觸覺回饋、自適應扳機、3D
                  音效*支援與所有難以置信的新一代 PlayStation®
                  遊戲，讓玩家發掘更深刻、更身歷其境的遊戲體驗。
                </p>
                <span>*使用相容耳機支援 3D 音效</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
